.col{
    @extend%col
}

.contenedor{
    @extend%contenedor
}

.contenedor-fechas{
    @extend%contenedor-fechas
}

.card{
    @extend%card
}

.textos{
    @extend%texto
}

.banner {
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    .banner ul {
        list-style: none;
        .banner ul li {
            margin: 15px;
            font-weight: bold;
        }
    }    
}

.banner .boton {
	background: $colorsecundario;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: "New Amsterdam", sans-serif;
	cursor: pointer;
}